body {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-color: #a4bbbd;
    font-family: 'TitleFont', sans-serif;
}

#mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#languageSelect {
    background-color: #295be0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
}

select {
    background-color: #295be0;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#languageSelect:hover {
    background-color: #1c3fa7;
    box-shadow: 0 0 5px #1c3fa7;
}

.buttonStyle {
    background-color: #295be0;
    color: white;
    padding: 12px 15px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
}

@font-face {
    font-family: 'TitleFont';
    src: url('resources/font.ttf') format('truetype');
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    margin-top: 15px;
    resize: both;
    overflow: auto;
    border: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
}

textarea:focus {
    border: 2px solid #4ca3af;
    box-shadow: 0 0 5px #4ca3af;
}

#inputText {
    width: 80vw;
    height: 20vh;
    max-width: 800px;
    max-height: 600px;
    resize: both;
}
#outputText {
    width: 80vw;
    height: 20vh;
    max-width: 800px;
    max-height: 600px;
    resize: both;
}

#transcribedText {
    background-color: #eee;
}

button:hover {
    background-color: #1c3fa7;
    box-shadow: 0 0 5px #1c3fa7;
}

#copyBtn:hover {
    background-color: #1c3fa7;
    box-shadow: 0 0 5px #1c3fa7;
}